{% set config = createMap() %}
{% if getenv("DOCKER_DATA_ROOT") %}{{ config.Set("data-root", getenv("DOCKER_DATA_ROOT")) }}{% endif %}
{% if getenv("DOCKER_DEBUG") %}{{ config.Set("debug", getenv("DOCKER_DEBUG")|lower == "true") }}{% endif %}
{% if getenv("DOCKER_DEFAULT_CGROUPNS_MODE") %}{{ config.Set("default-cgroupns-mode", getenv("DOCKER_DEFAULT_CGROUPNS_MODE")) }}{% endif %}
{% if getenv("DOCKER_DEFAULT_RUNTIME") %}{{ config.Set("default-runtime", getenv("DOCKER_DEFAULT_RUNTIME")) }}{% endif %}
{% if getenv("DOCKER_DEFAULT_SHM_SIZE") %}{{ config.Set("default-shm-size", getenv("DOCKER_DEFAULT_SHM_SIZE")) }}{% endif %}
{% if getenv("DOCKER_DEFAULT_ULIMITS_NOFILE_HARD") or getenv("DOCKER_DEFAULT_ULIMITS_NOFILE_SOFT") %}
{% set ulimits = createMap() %}
{% set nofile = createMap() %}
{{ nofile.Set("Name", "nofile") }}
{% if getenv("DOCKER_DEFAULT_ULIMITS_NOFILE_HARD") %}{{ nofile.Set("Hard", getenv("DOCKER_DEFAULT_ULIMITS_NOFILE_HARD")|parseInt) }}{% endif %}
{% if getenv("DOCKER_DEFAULT_ULIMITS_NOFILE_SOFT") %}{{ nofile.Set("Soft", getenv("DOCKER_DEFAULT_ULIMITS_NOFILE_SOFT")|parseInt) }}{% endif %}
{{ ulimits.Set("nofile", nofile) }}
{{ config.Set("default-ulimits", ulimits) }}
{% endif %}
{% if getenv("DOCKER_DNS") %}{{ config.Set("dns", getenv("DOCKER_DNS") | split:" ") }}{% endif %}
{% if getenv("DOCKER_DNS_OPTS") %}{{ config.Set("dns-opts", getenv("DOCKER_DNS_OPTS") | split:" ") }}{% endif %}
{% if getenv("DOCKER_DNS_SEARCH") %}{{ config.Set("dns-search", getenv("DOCKER_DNS_SEARCH") | split:" ") }}{% endif %}
{% if getenv("DOCKER_EXEC_OPTS") %}{{ config.Set("exec-opts", getenv("DOCKER_EXEC_OPTS") | split:" ") }}{% endif %}
{% if getenv("DOCKER_EXEC_ROOT") %}{{ config.Set("exec-root", getenv("DOCKER_EXEC_ROOT")) }}{% endif %}
{% if getenv("DOCKER_EXPERIMENTAL") %}{{ config.Set("experimental", getenv("DOCKER_EXPERIMENTAL")|lower == "true") }}{% endif %}
{% if getenv("DOCKER_GROUP") %}{{ config.Set("group", getenv("DOCKER_GROUP")) }}{% endif %}
{% if getenv("DOCKER_HOSTS") %}{{ config.Set("hosts", getenv("DOCKER_HOSTS") | split:" ") }}{% endif %}
{% if getenv("DOCKER_ICC") %}{{ config.Set("icc", getenv("DOCKER_ICC")|lower == "true") }}{% endif %}
{% if getenv("DOCKER_INIT_PATH") %}{{ config.Set("init-path", getenv("DOCKER_INIT_PATH")) }}{% endif %}
{% if getenv("INSECURE_REGISTRIES") %}{{ config.Set("insecure-registries", getenv("INSECURE_REGISTRIES") | split:" ") }}{% endif %}
{% if getenv("DOCKER_IP_FORWARD") %}{{ config.Set("ip-forward", getenv("DOCKER_IP_FORWARD")|lower == "true") }}{% endif %}
{% if getenv("DOCKER_IPTABLES") %}{{ config.Set("iptables", getenv("DOCKER_IPTABLES")|lower == "true") }}{% endif %}
{% if getenv("MAX_CONCURRENT_DOWNLOADS") %}{{ config.Set("max-concurrent-downloads", getenv("MAX_CONCURRENT_DOWNLOADS")|parseInt) }}{% endif %}
{% if getenv("MAX_CONCURRENT_UPLOADS") %}{{ config.Set("max-concurrent-uploads", getenv("MAX_CONCURRENT_UPLOADS")|parseInt) }}{% endif %}
{% if getenv("MAX_DOWNLOAD_ATTEMPTS") %}{{ config.Set("max-download-attempts", getenv("MAX_DOWNLOAD_ATTEMPTS")|parseInt) }}{% endif %}
{% if getenv("DOCKER_MTU") %}{{ config.Set("mtu", getenv("DOCKER_MTU")|parseInt) }}{% endif %}
{% if getenv("DOCKER_OOM_SCORE_ADJUST") %}{{ config.Set("oom-score-adjust", getenv("DOCKER_OOM_SCORE_ADJUST")|parseInt) }}{% endif %}
{% if getenv("DOCKER_PIDFILE") %}{{ config.Set("pidfile", getenv("DOCKER_PIDFILE")) }}{% endif %}
{% if getenv("REGISTRY_MIRRORS") %}{{ config.Set("registry-mirrors", getenv("REGISTRY_MIRRORS") | split:" ") }}{% endif %}
{% if getenv("DOCKER_SECCOMP_PROFILE") %}{{ config.Set("seccomp-profile", getenv("DOCKER_SECCOMP_PROFILE")) }}{% endif %}
{% if getenv("DOCKER_SELINUX_ENABLED") %}{{ config.Set("selinux-enabled", getenv("DOCKER_SELINUX_ENABLED")|lower == "true") }}{% endif %}
{% if getenv("DOCKER_STORAGE_OPTS") %}{{ config.Set("storage-opts", getenv("DOCKER_STORAGE_OPTS") | split:" ") }}{% endif %}
{% if getenv("DOCKER_BIP") %}{{ config.Set("bip", getenv("DOCKER_BIP")) }}{% endif %}
{% if getenv("DOCKER_DEFAULT_ADDRESS_POOLS") %}
{% set pools = createList() %}
{% for pool in getenv("DOCKER_DEFAULT_ADDRESS_POOLS") | split:" " %}
{% set poolConfig = createMap() %}
{% set poolParts = pool | split:"," %}
{{ poolConfig.Set("base", poolParts[0]) }}
{{ poolConfig.Set("size", poolParts[1]|parseInt) }}
{{ pools.Add(poolConfig) }}
{% endfor %}
{{ config.Set("default-address-pools", pools) }}
{% endif %}
{{ config | toPrettyJSON }}
