#!/usr/bin/env bash
# shellcheck disable=SC2312

# The main goal of this init script is to set up the filesystem
# in a way that changes are not persisted across container restarts.

# This is done by creating an overlayfs mount with the current root
# as the lower layer, and a temporary directory as the upper layer.
# Then, the chroot environment is executed with the overlayfs mount
# as the root directory.

set -e

# shellcheck disable=SC1091
. /etc/s6-overlay/scripts/functions

truthy "${DISABLE:-}" && exit 0

truthy "${VERBOSE:-}" && set -x

if ! truthy "${DISABLE_RESET:-}"; then
    echo "Resetting container filesystem..."
    reset_container
fi

# Set the runtime labels
ACTIONS_RUNNER_RUNTIME_LABELS="$(get_runtime_labels)"
export ACTIONS_RUNNER_RUNTIME_LABELS

# Execute the s6-overlay entrypoint
if truthy "${DRY_RUN:-}"; then
    # Disable the runner service
    rm -f /etc/s6-overlay/s6-rc.d/user/contents.d/runner
    # Use the healthcheck script as the main service
    exec /init /etc/s6-overlay/scripts/healthcheck
else
    # Enable the runner service
    touch /etc/s6-overlay/s6-rc.d/user/contents.d/runner
    exec /init
fi
