#!/usr/bin/env bash

set -e

# shellcheck disable=SC1091
. /etc/s6-overlay/scripts/functions

# shellcheck disable=SC2310
truthy "${VERBOSE:-}" && set -x

# these tmpfs mounts need the executable bit set
mount -o remount,rw,exec tmpfs /tmp
mount -o remount,rw,exec tmpfs /run

# Create tmpfs mounts for each top-level directory under /
for dir in /*; do
    [[ -d "${dir}" ]] || continue

    # skip directories that are mount points
    if mountpoint -q "${dir}"; then
        continue
    fi

    echo "Remounting ${dir} as tmpfs..."

    # create a tmpfs mount
    tmp="$(mktemp -d)"
    mount -t tmpfs tmpfs "${tmp}"

    # copy all files from the directory to the tmpfs mount
    rsync -aAX "${dir}/" "${tmp}/"

    # bind mount the tmpfs over / making it ephemeral
    mount -v --bind "${tmp}" "${dir}"
done

# Remove any existing runner configuration files
rm -f /home/runner/.jitconfig
rm -f /home/runner/.credentials
rm -f /home/runner/.credentials_rsaparams

ACTIONS_RUNNER_RUNTIME_LABELS="$(get_runtime_labels)"
export ACTIONS_RUNNER_RUNTIME_LABELS

# Execute the s6-overlay entrypoint
exec /init
